/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Amaranth:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  padding: 0;
  margin: 0;
  outline: none; }

body {
  background-color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.5; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 24px;
  display: block; }
  @media all and (max-width: 1200px) {
    .container {
      max-width: 992px; } }
  @media all and (max-width: 992px) {
    .container {
      max-width: 776px; } }
  @media all and (max-width: 776px) {
    .container {
      width: 100%; } }

.left-content {
  width: calc(50% - 1px);
  display: inline-block; }
  @media all and (max-width: 776px) {
    .left-content {
      width: 100%; } }

.right-content {
  width: calc(50% - 1px);
  display: inline-block; }
  @media all and (max-width: 776px) {
    .right-content {
      width: 100%; } }

.middle-content-line {
  width: 2px;
  display: inline-block; }

.menu-mobile {
  display: none; }
  @media all and (max-width: 776px) {
    .menu-mobile {
      display: block;
      position: fixed;
      z-index: 50;
      top: 15px;
      left: 15px; }
      .menu-mobile i {
        font-size: 40px;
        color: #999999; }
      .menu-mobile .menu-mobile-ul {
        display: none;
        width: 210px;
        height: auto;
        background-color: rgba(153, 153, 153, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 40px;
        top: -35px; }
      .menu-mobile .active-ul {
        display: flex;
        width: 210px;
        height: auto;
        background-color: rgba(153, 153, 153, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 40px;
        top: -35px; }
      .menu-mobile ul li {
        padding: 20px 0;
        width: 80%;
        text-align: center;
        border-bottom: 1px solid #f6e7d5; }
        .menu-mobile ul li:last-child {
          border: none; }
        .menu-mobile ul li a {
          color: #f6e7d5;
          font-size: 20px;
          text-decoration: none; } }

.nav {
  height: 25px;
  position: relative;
  background-color: #ffffff;
  border-top: 5px solid #999999;
  width: 100%; }
  @media all and (max-width: 776px) {
    .nav {
      height: 0px; } }
  .nav .menu {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 5;
    top: -55px; }
    @media all and (max-width: 776px) {
      .nav .menu {
        display: none; } }
    .nav .menu .menu-element {
      margin: 0 1px;
      position: relative;
      box-shadow: 0px 5px 20px 0px #d3d3d3; }
      .nav .menu .menu-element:hover {
        box-shadow: 0px 5px 70px 0px #d3d3d3; }
        .nav .menu .menu-element:hover a {
          color: #999999; }
    .nav .menu a {
      position: absolute;
      text-decoration: none;
      color: #ffffff;
      font-size: 17px;
      font-weight: normal;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 50px; }
    .nav .menu .to-right {
      margin-top: 50px;
      height: 50px;
      width: 120px;
      background-color: #999999;
      position: relative; }
      .nav .menu .to-right:hover {
        background-color: #f6e7d5; }
        .nav .menu .to-right:hover:after {
          border-color: #f6e7d5 transparent transparent transparent; }
      .nav .menu .to-right:after {
        position: absolute;
        top: 50px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 120px 0 0;
        border-color: #999999 transparent transparent transparent; }
    .nav .menu .to-left {
      margin-top: 50px;
      height: 50px;
      width: 120px;
      background-color: #999999;
      position: relative; }
      .nav .menu .to-left:hover {
        background-color: #f6e7d5; }
        .nav .menu .to-left:hover:after {
          border-color: transparent #f6e7d5 transparent transparent; }
      .nav .menu .to-left:after {
        position: absolute;
        top: 50px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 120px 20px 0;
        border-color: transparent #999999 transparent transparent; }

.home {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../images/background2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .home .home-image {
    display: inline-block; }
    .home .home-image img {
      height: 100%; }
  .home .home-banner {
    position: absolute;
    font-size: 30px;
    top: 100px;
    left: 130px; }
    @media all and (max-width: 776px) {
      .home .home-banner {
        left: 60px; } }
    @media all and (max-width: 400px) {
      .home .home-banner {
        left: 60px; } }
    .home .home-banner h1, .home .home-banner h3 {
      line-height: 32px; }
      @media all and (max-width: 400px) {
        .home .home-banner h1, .home .home-banner h3 {
          font-size: 18px; } }
    .home .home-banner h1 {
      font-family: 'Amaranth', sans-serif;
      background-color: #ffffff;
      padding: 20px;
      display: inline-block;
      left: -50px;
      position: relative;
      border-radius: 25px 25px 0px 25px;
      box-shadow: 0px 5px 20px 0px #d3d3d3; }
      @media all and (max-width: 400px) {
        .home .home-banner h1 {
          padding: 10px; } }
    .home .home-banner h3 {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 0px 25px 25px 25px;
      box-shadow: 0px 5px 20px 0px #d3d3d3; }
      @media all and (max-width: 400px) {
        .home .home-banner h3 {
          margin-right: 15px;
          padding: 10px; } }

.description {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 40px; }
  @media all and (max-width: 776px) {
    .description {
      margin-top: 0px; } }
  .description .container {
    display: flex; }
    @media all and (max-width: 776px) {
      .description .container {
        display: block; } }
    .description .container h1 {
      font-size: 27px;
      font-family: 'Amaranth', sans-serif;
      margin-bottom: 15px; }
    .description .container p {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 1.63; }
    .description .container .devider {
      height: 4px;
      width: 50%;
      background-color: #FCF7F1;
      margin-bottom: 15px; }
    .description .container .left-content {
      padding-right: 25px;
      display: flex;
      flex-direction: column;
      align-content: center; }
    .description .container .right-content {
      margin-top: 60px;
      padding-left: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      @media all and (max-width: 776px) {
        .description .container .right-content {
          padding-left: 0;
          margin-top: 10px; } }
      .description .container .right-content tr td {
        height: 20px;
        width: 50%;
        text-align: center; }
        .description .container .right-content tr td button {
          width: 90%;
          height: auto;
          margin: 5px;
          padding: 5px;
          cursor: auto; }

.about {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  background-color: #FCF7F1; }
  .about .container {
    display: flex; }
    @media all and (max-width: 776px) {
      .about .container {
        display: block; } }
    .about .container .left,
    .about .container .right {
      width: 50%; }
      @media all and (max-width: 776px) {
        .about .container .left,
        .about .container .right {
          width: 100%; } }
    .about .container .right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      @media all and (max-width: 776px) {
        .about .container .right {
          margin-top: 30px; } }
    .about .container .left .header {
      margin-bottom: 30px; }
      .about .container .left .header h1 {
        text-align: left;
        font-size: 27px;
        font-family: 'Amaranth', sans-serif;
        margin-bottom: 15px; }
      .about .container .left .header .devider {
        height: 4px;
        width: 50%;
        background-color: #999999;
        margin-bottom: 15px; }
    .about .container .left .image-content {
      display: flex;
      justify-content: center; }
      .about .container .left .image-content img {
        box-shadow: 0px 5px 20px 0px #d3d3d3; }
    .about .container .right {
      align-items: left; }
      .about .container .right p {
        font-size: 16px;
        line-height: 1.63;
        font-weight: normal;
        margin-bottom: 10px;
        text-align: left; }
      .about .container .right ul {
        margin: 10px 0;
        text-align: left; }
        .about .container .right ul li {
          font-size: 16px;
          line-height: 1.63; }

.education {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px; }
  .education .left-content {
    height: 60px; }
    .education .left-content h1 {
      text-align: left;
      font-size: 27px;
      font-family: 'Amaranth', sans-serif;
      margin-bottom: 15px; }
    .education .left-content .devider {
      height: 4px;
      width: 50%;
      background-color: #FCF7F1;
      margin-bottom: 15px; }
  .education .timeline .chronology {
    display: flex;
    flex-direction: column;
    position: relative; }
    .education .timeline .chronology .vertical-line {
      width: 3px;
      height: calc(100% - 60px);
      margin: 0 auto;
      background: #999999;
      position: absolute;
      top: 60px;
      left: 50%; }
      @media all and (max-width: 776px) {
        .education .timeline .chronology .vertical-line {
          top: 20px;
          left: 20px; } }
    .education .timeline .chronology .field {
      padding: 17px;
      position: relative;
      border-radius: 4px;
      background: transparent;
      max-width: 350px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #000000;
      box-shadow: 0px 5px 20px 0px #d3d3d3; }
      @media all and (max-width: 776px) {
        .education .timeline .chronology .field {
          margin-bottom: 25px;
          max-width: 450px; } }
      @media all and (max-width: 560px) {
        .education .timeline .chronology .field {
          max-width: 315px; } }
      @media all and (max-width: 400px) {
        .education .timeline .chronology .field {
          max-width: 250px; } }
      @media all and (max-width: 340px) {
        .education .timeline .chronology .field {
          max-width: 190px; } }
      .education .timeline .chronology .field h2 {
        line-height: 1.43;
        font-weight: 800;
        font-size: 16px;
        margin-bottom: 8px; }
      .education .timeline .chronology .field p {
        line-height: 1.43;
        font-weight: normal;
        font-size: 14px; }
      .education .timeline .chronology .field .date {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 13px; }
        @media all and (max-width: 776px) {
          .education .timeline .chronology .field .date {
            top: -25px;
            transform: none; } }
    .education .timeline .chronology .left-field {
      left: 50%;
      transform: translateX(calc(-100% - 20px));
      text-align: right; }
      @media all and (max-width: 776px) {
        .education .timeline .chronology .left-field {
          left: 40px;
          transform: none; } }
      .education .timeline .chronology .left-field h2 {
        margin-left: 65px; }
      .education .timeline .chronology .left-field:after {
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent #999999; }
        @media all and (max-width: 776px) {
          .education .timeline .chronology .left-field:after {
            left: -10px;
            border-width: 5px 10px 5px 0;
            border-color: transparent #999999 transparent transparent; } }
      .education .timeline .chronology .left-field .field-description {
        line-height: 14px;
        font-size: 12px;
        text-align: left;
        padding-right: 10%;
        margin-top: 8px; }
      .education .timeline .chronology .left-field button {
        position: absolute;
        left: 10px;
        top: 10px; }
      .education .timeline .chronology .left-field .date {
        right: -110px; }
        @media all and (max-width: 776px) {
          .education .timeline .chronology .left-field .date {
            position: absolute;
            right: 15px; } }
    .education .timeline .chronology .right-field {
      left: calc(50% + 25px);
      text-align: left; }
      @media all and (max-width: 776px) {
        .education .timeline .chronology .right-field {
          left: 40px; } }
      .education .timeline .chronology .right-field h2 {
        margin-right: 65px; }
      .education .timeline .chronology .right-field:after {
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 10px 5px 0;
        border-color: transparent #999999 transparent transparent; }
      .education .timeline .chronology .right-field .field-description {
        line-height: 14px;
        font-size: 12px;
        text-align: right;
        padding-left: 10%;
        margin-top: 8px; }
      .education .timeline .chronology .right-field button {
        position: absolute;
        right: 10px;
        top: 10px; }
      .education .timeline .chronology .right-field .date {
        left: -130px; }
        @media all and (max-width: 776px) {
          .education .timeline .chronology .right-field .date {
            position: absolute;
            left: 15px; } }
    .education .timeline .chronology .description-first,
    .education .timeline .chronology .description-second,
    .education .timeline .chronology .description-third,
    .education .timeline .chronology .description-fourth,
    .education .timeline .chronology .description-fifth,
    .education .timeline .chronology .description-sixth {
      display: none; }
    .education .timeline .chronology .middle-field {
      width: 40px;
      height: 40px;
      background-color: #999999;
      z-index: 2;
      margin: auto;
      position: relative;
      box-shadow: 0px 5px 20px 0px #d3d3d3;
      border-radius: 100%; }
      @media all and (max-width: 776px) {
        .education .timeline .chronology .middle-field {
          margin: 0; } }
      .education .timeline .chronology .middle-field .middle-field-inside {
        width: 35px;
        height: 35px;
        background-color: #ffffff;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        line-height: 35px;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        color: #999999;
        border-radius: 100%; }

.offer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #FCF7F1; }
  .offer .container .title {
    text-align: left;
    font-size: 27px;
    font-family: 'Amaranth', sans-serif;
    margin-bottom: 15px; }
  .offer .container p {
    margin-bottom: 15px; }
  .offer .container .devider {
    height: 4px;
    width: 50%;
    background-color: #999999;
    margin-bottom: 15px; }
  .offer .container .offer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .offer .container .offer-content .offer-block {
      width: 224px;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 10px; }
      .offer .container .offer-content .offer-block .offer-content {
        cursor: pointer;
        width: 250px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        background-color: #FAFAFA;
        box-shadow: 0px 5px 20px 0px #d3d3d3;
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative; }
        .offer .container .offer-content .offer-block .offer-content .front, .offer .container .offer-content .offer-block .offer-content .back {
          backface-visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
        .offer .container .offer-content .offer-block .offer-content .front {
          z-index: 31;
          transform: rotateY(0deg); }
        .offer .container .offer-content .offer-block .offer-content .back {
          transform: rotateY(180deg); }
        .offer .container .offer-content .offer-block .offer-content:hover {
          transform: rotateY(180deg); }
        .offer .container .offer-content .offer-block .offer-content img {
          height: 55px;
          width: auto;
          filter: grayscale(100%); }
        .offer .container .offer-content .offer-block .offer-content h1 {
          font-weight: normal;
          font-size: 16px;
          margin-top: 10px;
          text-align: center; }
  .offer .container .offer-footer {
    margin-top: 20px;
    line-height: 1.63; }

.contact {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  color: #000000; }
  .contact .container {
    display: flex; }
    @media all and (max-width: 776px) {
      .contact .container {
        display: block; } }
    .contact .container .left-content {
      text-align: center; }
      .contact .container .left-content .person {
        font-size: 27px;
        font-family: 'Amaranth', sans-serif;
        margin-bottom: 15px; }
      .contact .container .left-content .devider {
        height: 4px;
        width: 50%;
        background-color: #FCF7F1;
        margin: 0 auto 15px; }
      .contact .container .left-content .title {
        font-size: 18px;
        line-height: 1.63;
        margin-bottom: 10px; }
      .contact .container .left-content .details {
        width: 100%;
        display: flex; }
        .contact .container .left-content .details .left {
          padding-right: 15px;
          width: 50%;
          text-align: right; }
          .contact .container .left-content .details .left p {
            font-size: 14px;
            line-height: 25px; }
            @media all and (max-width: 776px) {
              .contact .container .left-content .details .left p span {
                display: block; } }
        .contact .container .left-content .details .right {
          padding-left: 15px;
          width: 50%;
          text-align: left; }
          .contact .container .left-content .details .right p {
            font-size: 14px;
            line-height: 25px; }
            @media all and (max-width: 776px) {
              .contact .container .left-content .details .right p span {
                display: block; } }
      .contact .container .left-content .social-media {
        margin-top: 15px;
        justify-content: center;
        display: flex; }
        .contact .container .left-content .social-media .social-icon {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          margin: 0 5px;
          cursor: pointer;
          background-color: #FCF7F1;
          color: #999999;
          box-shadow: 0px 5px 20px 0px #d3d3d3; }
          .contact .container .left-content .social-media .social-icon i {
            line-height: 30px;
            text-align: center; }
        .contact .container .left-content .social-media .facebook:hover {
          background-color: #3B5998;
          color: #ffffff; }
        .contact .container .left-content .social-media .linkedin:hover {
          background-color: #1884BB;
          color: #ffffff; }
        .contact .container .left-content .social-media .linkedin i {
          position: relative;
          left: 2px; }
      .contact .container .left-content .map-container {
        margin-top: 25px; }
        .contact .container .left-content .map-container #map {
          margin: auto;
          width: 90%;
          height: 300px;
          background-color: #f6e7d5;
          box-shadow: 0px 5px 20px 0px #d3d3d3; }
    .contact .container .middle-content-line {
      width: 2px;
      background: #999999;
      border-radius: 100%; }
    .contact .container .right-content {
      display: flex;
      justify-content: center; }
      @media all and (max-width: 776px) {
        .contact .container .right-content {
          margin-top: 30px; } }
      .contact .container .right-content .contact-form {
        width: 90%;
        height: auto;
        padding: 25px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 5px 20px 0 #d3d3d3;
        position: relative;
        display: block;
        overflow: hidden; }
        .contact .container .right-content .contact-form .contact-form-label {
          position: relative;
          font-size: 22px;
          font-weight: 500;
          line-height: 1.44;
          text-align: left;
          color: #000000;
          display: block;
          margin-bottom: 15px; }
        .contact .container .right-content .contact-form .contact-form-description {
          position: relative;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.63;
          text-align: left;
          color: #000000;
          display: block;
          margin-bottom: 20px; }
        .contact .container .right-content .contact-form form {
          position: relative; }
          .contact .container .right-content .contact-form form input,
          .contact .container .right-content .contact-form form textarea {
            display: block;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 2px;
            background-color: #fbfbfb;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 #d3d3d3;
            font-family: "Titillium Web", sans-serif;
            font-size: 16px;
            line-height: 1.63;
            text-align: left;
            color: #999999;
            padding: 0 15px;
            position: relative;
            margin-bottom: 20px;
            resize: none; }
          .contact .container .right-content .contact-form form textarea {
            height: 120px;
            padding: 6px 15px; }
          .contact .container .right-content .contact-form form input:focus,
          .contact .container .right-content .contact-form form textarea:focus {
            border: solid 1px #000000; }
          .contact .container .right-content .contact-form form button {
            float: right; }

button {
  border: none;
  border-radius: 2px;
  background-color: #FCF7F1;
  box-shadow: 0 2px 4px 0 #d3d3d3;
  text-align: center;
  color: #999999;
  position: relative; }
  button:hover {
    cursor: pointer;
    box-shadow: 0px 5px 20px 0px #d3d3d3;
    background-color: #f6e7d5; }

.button-normal {
  width: 162px;
  height: 40px;
  font-size: 16px; }

.button-small {
  width: auto;
  font-size: 12px;
  padding: 3px 10px; }

/*# sourceMappingURL=style.css.map */