@import 'reset';

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700');

//Colors
$light-mint: #FCF7F1;
$middle-mint: #f7ded4;
$dark-mint: #EDB39B;
$light-grey: #f2f2f2;
$middle-grey: #d3d3d3;
$dark-grey: #999999;

// $light-mint: rgb(214,239,236);
// $middle-mint: rgb(166, 191, 189);
// $dark-mint: rgb(115,153,150);
// $light-grey: rgb(231,231,231);
// $middle-grey: rgb(202, 202, 202);
// $dark-grey: rgb(179, 178, 178);

$facebook-color: #3B5998;
$linkedin-color: #1884BB;;

$light: #ffffff;

$grey-background: #D5DBDB;

* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  background-color: $light;
  font-family: "Titillium Web", sans-serif;
}

.container {
  max-width: 976px;
  margin: 0 auto;
  padding: 30px 0;
  display: block;
}

.left-content {
  width: calc(50% - 1px);
  display: inline-block;
}

.right-content {
  width: calc(50% - 1px);
  display: inline-block;
}

.middle-content-line {
  width: 2px;
  display: inline-block;
}

.menu-mobile {
  display: none;
}

nav {
  height: 25px;
  position: relative;
  background-color: $light;
  border-top: 5px solid $dark-mint;
  width: 100%;
    ul {
      list-style-type: none;
      margin: 0 auto;
      i {
        display: none;
      }
      li {
        display: inline-block;
        position: relative;
        text-align: center;
        a {
          text-decoration: none;
        }
      }
    }
    .menu {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 5;
      top: -55px;
      .menu-element {
        margin: 1px;
        position: relative;
        box-shadow: 0px 5px 20px 0px $middle-grey;
      }
      a {
        position: absolute;
        text-decoration: none;
        color: $light;
        font-size: 17px;
        font-weight: normal;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 50px;
        &:hover {
          color: $middle-grey;
          transform: scale(1.1);
        }
      }
      .to-right {
        margin-top: 50px;
        height: 50px;
        width: 120px;
        background-color: $dark-mint;
        position: relative;
        // &:before {
        //   position: absolute;
        //   bottom: 50px;
        //   content: '';
        //   width: 0;
        //   height: 0;
        //   border-style: solid;
        //   border-width: 20px 0px 0px 120px;
        //   border-color: transparent transparent transparent $dark-mint;
        // }
        &:after {
          position: absolute;
          top: 50px;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 20px 120px 0 0;
          border-color: $dark-mint transparent transparent transparent;
        }
      }
      .to-left {
        margin-top: 50px;
        height: 50px;
        width: 120px;
        background-color: $dark-mint;
        position: relative;
        // &:before {
        //   position: absolute;
        //   bottom: 50px;
        //   content: '';
        //   width: 0;
        //   height: 0;
        //   border-style: solid;
        //   border-width: 0px 00px 20px 120px;
        //   border-color: transparent transparent $dark-mint transparent;
        // }
        &:after {
          position: absolute;
          top: 50px;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0px 120px 20px 0;
          border-color: transparent $dark-mint transparent transparent;
        }
      }
    }
  }

.home {
  position: relative;
  width: 100%;
  height: 300px;
  .home-image {
    display: inline-block;
    img {
      height: 100%;
    }
  }
  .home-banner {
    display: inline-block;
    position: relative;
    font-size: 30px;
    letter-spacing: 0.5;
    top: -40%;
    left: 50px;
    h1, h3 {
      line-height: 32px;
    }
    h1 {
      font-family: 'Amaranth', sans-serif;
      background-color: $light-mint;
      padding: 20px;
      display: inline-block;
      left: -50px;
      position: relative;
      border-radius: 25px 25px 0px 25px;
      box-shadow: 0px 5px 20px 0px $middle-grey;
    }
    h3 {
      background-color: $middle-mint;
      padding: 20px;
      border-radius: 0px 25px 25px 25px;
      box-shadow: 0px 5px 20px 0px $middle-grey;
    }
  }
}

.description {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: $light;
}
.about {
  position: relative;
  width: 100%;
  display: flex;
  background-color: $light;
  .container {
    display: flex;
    .left,
    .right {
      width: 50%;
      display: flex;
      justify-content: center;
    }
    .left {
      .left-content {
        padding: 0 50px;
        width: 100%;
        text-align: center;
        p {
          color: $dark-mint;
          letter-spacing: 0.5;
          line-height: 17px;
          font-size: 17px;
          font-weight: normal;
        }
      }    }
    .image-content {
      img {
        width: 250px;
        height: 300px;
        border-radius: 50%;
        box-shadow: 0px 5px 20px 0px $middle-grey;
      }
    }
  }
}
.education {
  position: relative;
  width: 100%;
  background-color: $light;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  .timeline {
    .vertical-line {
      width: 4px;
      height: 100%;
      margin: 0 auto;
      background: $middle-mint;
      position: absolute;
      top: 0;
      left: 50%;
    }
    .field {
      padding: 15px;
      position: relative;
      border-radius: 4px;
      background: $light-mint;
      max-width: 350px;
      margin-top: 30px;
      margin-bottom: 30px;
      color: $dark-mint;
      letter-spacing: 0.5;
      box-shadow: 0px 5px 20px 0px $middle-grey;
      h2 {
        line-height: 20px;
        font-weight: 800;
        font-size: 18px;
        margin-bottom: 5px;
      }
      p {
        line-height: 17px;
        font-weight: normal;
        font-size: 15px;
        margin-bottom: 10px;
      }
      .date {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;       
      }
    }
    .left-field {
      left: 50%;
      transform: translateX(calc(-100% - 20px));
      text-align: right;
      &:after {
        position: absolute;
        right: -14px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 14px;
        border-color: transparent transparent transparent $light-mint;
      }
      .field-description {
        line-height: 14px;
        font-size: 12px;
        text-align: left;
        padding-right: 10%;
      }
      .date {
        right: -110px;
      }
    }
    .right-field {
      left: calc(50% + 25px);
      text-align: left;
      &:after {
        position: absolute;
        left: -14px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 14px 10px 0;
        border-color: transparent $light-mint transparent transparent;
      }
      .field-description {
        line-height: 14px;
        font-size: 12px;
        text-align: right;
        padding-left: 10%;
      }
      .date {
        left: -130px;
      }
    }
    .description-first,
    .description-second,
    .description-third,
    .description-fourth,
    .description-fifth,
    .description-sixth {
      display: none;
    }
    .middle-field {
      width: 60px;
      height: 60px;
      background-color: $middle-mint;
      border-radius: 10px;
      z-index: 2;
      margin: auto;
      position: relative;
      box-shadow: 0px 5px 20px 0px $middle-grey;
      .middle-field-inside {
        width: 50px;
        height: 50px;
        background-color: $light-mint;
        border-radius: 10px;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: $dark-mint;
      }
    }
  }
}
.metods {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: $light;
  display: none;
}
.contact {
  position: relative;
  width: 100%;
  height: auto;
  background-color: $light;
  color: $dark-mint;  
  letter-spacing: 0.5;
  .container {
    display: flex;
    .left-content {
      padding: 15px;
      text-align: center;
      .person {
        font-size: 40px;
        font-family: 'Amaranth', sans-serif;
        margin-bottom: 10px;
      }
      .title {
        color: $middle-mint;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .details {
        width: 100%;
        display: flex;
        .left {
          padding-right: 15px;
          width: 50%;
          text-align: right;
          p {
            font-size: 14px;
            line-height: 25px;
          }
        }
        .right {
          padding-left: 15px;
          width: 50%;
          text-align: left;
          p {
            font-size: 14px;
            line-height: 25px;
          }
        }
      }
      .social-media {
        margin-top: 15px;
        justify-content: center;
        display: flex;
        .social-icon {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          margin: 0 5px;
          cursor: pointer;
          background-color: $dark-mint;
          color: $light-grey;
          box-shadow: 0px 5px 20px 0px $middle-grey;
          i {
            line-height: 30px;
            text-align: center;
          }
        }
        .facebook {
          &:hover {
            background-color: $facebook-color;
            color: $light;
          }
        }
        .linkedin {
          &:hover {
            background-color: $linkedin-color;
            color: $light;
          }
          i {
            position: relative;
            left: 2px;
          }
        }
      }
      .map-container {
        margin-top: 25px;
        #map {
          margin: auto;
          width: 90%;
          height: 300px;
          background-color: $dark-grey;
          box-shadow: 0px 5px 20px 0px $middle-grey;
        }
      }
    }
    .middle-content-line {
      width: 2px;
      background: $middle-mint;
      border-radius: 100%;
    }
    .right-content {
      padding: 15px;
      display: flex;
      justify-content: center;
      .contact-form {
        width: 90%;
        height: auto;
        padding: 25px;
        border-radius: 5px;
        background-color: $light;
        box-shadow: 0 5px 20px 0 $middle-grey;
        position: relative;
        display: block;
        overflow: hidden;
        letter-spacing: 0.5;
        .contact-form-label {
          position: relative;
          font-size: 22px;
          font-weight: 500;
          line-height: 1.44;
          text-align: left;
          color: $dark-mint;
          display: block;
          margin-bottom: 15px;
        }
        .contact-form-description {
          position: relative;
          font-size: 17px;
          font-weight: 300;
          line-height: 1.63;
          text-align: left;
          color: $dark-mint;
          display: block;
          margin-bottom: 20px;
        }
        form {
          position: relative;
          input,
          textarea {
            display: block;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 2px;
            background-color: rgba(251, 239, 233, 0.5);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 $middle-grey;
            font-family: "Titillium Web", sans-serif;
            font-size: 16px;
            line-height: 1.63;
            text-align: left;
            color: $dark-mint;
            padding: 0 15px;
            position: relative;
            margin-bottom: 20px;
            resize: none
          }
          textarea {
            height: 120px;
            padding: 6px 15px;
          }
          input:focus,
          textarea:focus {
              border: solid 1px $dark-mint;
          }
          button {
            float: right;
          }
        }
      }
    }
  }
}

// BUTTONS

button {
  border: none;
  border-radius: 2px;
  background-color: $dark-mint;
  box-shadow: 0 2px 4px 0 $middle-grey;
  text-align: center;
  color: $light;
  position: relative;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 5px 20px 0px $middle-grey;
    background-color: $dark-grey;
  }
}

.button-normal {
  width: 162px;
  height: 40px;
  font-size: 16px;
}

.button-small {
  width: auto;
  font-size: 12px;
  padding: 3px 7px;
}