@import 'reset';

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700');

//Breakpoints
$breakpointDesktop: 1200px;
$breakpointTablet: 992px;
$breakpointMobile: 776px;
$breakpointMiddleMobile: 560px;
$breakpointSmallMobile: 400px;

//Colors
$lightpink: #FCF7F1;
$darkpink: #f6e7d5;
$lightgrey: #fbfbfb;
$darkgrey: #999999;
$darkgreyopacity: rgba(153, 153, 153, 0.9);
$greyshadow: #d3d3d3;

$facebook-color: #3B5998;
$linkedin-color: #1884BB;;

$light: #ffffff;
$dark: #000000;

* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  background-color: $light;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 24px;
  display: block;
  @media all and (max-width: $breakpointDesktop) {
    max-width: 992px;
  }
  @media all and (max-width: $breakpointTablet) {
    max-width: 776px;
  }
  @media all and (max-width: $breakpointMobile) {
    width: 100%;
  }
}

.left-content {
  width: calc(50% - 1px);
  display: inline-block;
  @media all and (max-width: $breakpointMobile) {
    width: 100%;
  }
}

.right-content {
  width: calc(50% - 1px);
  display: inline-block;
  @media all and (max-width: $breakpointMobile) {
    width: 100%;
  }
}

.middle-content-line {
  width: 2px;
  display: inline-block;
}

.menu-mobile {
  display: none;
  
  @media all and (max-width: $breakpointMobile) {
    display: block;
    position: fixed;
    z-index: 50;
    top: 15px;
    left: 15px;
    i {
      font-size: 40px;
      color: $darkgrey;
    }
    .menu-mobile-ul {
      display: none;
      width: 210px;
      height: auto;
      background-color: $darkgreyopacity;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 40px;
      top: -35px;
    }
    .active-ul {
      display: flex;
      width: 210px;
      height: auto;
      background-color: $darkgreyopacity;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 40px;
      top: -35px;
    }
    ul {
      li {
        padding: 20px 0;
        width: 80%;
        text-align: center;
        border-bottom: 1px solid $darkpink;
        &:last-child {
          border: none;
        }
        a {
          color: $darkpink;
          font-size: 20px;
          text-decoration: none;
        }
      }
    }
  }
}

.nav {
  height: 25px;
  position: relative;
  background-color: $light;
  border-top: 5px solid $darkgrey;
  width: 100%;
  @media all and (max-width: $breakpointMobile) {
    height: 0px;
  }
    // ul {
    //   list-style-type: none;
    //   margin: 0 auto;
    //   i {
    //     display: none;
    //   }
    //   li {
    //     display: inline-block;
    //     position: relative;
    //     text-align: center;
    //     a {
    //       text-decoration: none;
    //     }
    //   }
    // }
    .menu {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 5;
      top: -55px;
      @media all and (max-width: $breakpointMobile) {
        display: none;
      }
      .menu-element {
        margin: 0 1px;
        position: relative;
        box-shadow: 0px 5px 20px 0px $greyshadow;
        &:hover {
          box-shadow: 0px 5px 70px 0px $greyshadow;
          a {
            color: $darkgrey;
          }
        }
      }
      a {
        position: absolute;
        text-decoration: none;
        color: $light;
        font-size: 17px;
        font-weight: normal;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 50px;
      }
      .to-right {
        margin-top: 50px;
        height: 50px;
        width: 120px;
        background-color: $darkgrey;
        position: relative;

        &:hover {
          background-color: $darkpink;
          &:after {
            border-color: $darkpink transparent transparent transparent;
          }
        }
        &:after {
          position: absolute;
          top: 50px;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 20px 120px 0 0;
          border-color: $darkgrey transparent transparent transparent;
        }
      }
      .to-left {
        margin-top: 50px;
        height: 50px;
        width: 120px;
        background-color: $darkgrey;
        position: relative;
        &:hover {
          background-color: $darkpink;
          &:after {
            border-color: transparent $darkpink transparent transparent;
          }
        }
        &:after {
          position: absolute;
          top: 50px;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0px 120px 20px 0;
          border-color: transparent $darkgrey transparent transparent;
        }
      }
    }
  }

.home {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../images/background2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .home-image {
    display: inline-block;
    img {
      height: 100%;
    }
  }
  .home-banner {
    position: absolute;
    font-size: 30px;
    top: 100px;
    left: 130px;
    @media all and (max-width: $breakpointMobile) {
      left: 60px;
    }
    @media all and (max-width: $breakpointSmallMobile) {
      left: 60px;
    }
    h1, h3 {
      line-height: 32px;
      @media all and (max-width: $breakpointSmallMobile) {
        font-size: 18px;
      }
    }
    h1 {
      font-family: 'Amaranth', sans-serif;
      background-color: $light;
      padding: 20px;
      display: inline-block;
      left: -50px;
      position: relative;
      border-radius: 25px 25px 0px 25px;
      box-shadow: 0px 5px 20px 0px $greyshadow;
      @media all and (max-width: $breakpointSmallMobile) {
        padding: 10px;
      }
    }
    h3 {
      background-color: $light;
      padding: 20px;
      border-radius: 0px 25px 25px 25px;
      box-shadow: 0px 5px 20px 0px $greyshadow;
      @media all and (max-width: $breakpointSmallMobile) {
        margin-right: 15px;
        padding: 10px;
      }
    }
  }
}

.description {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 40px;
  @media all and (max-width: $breakpointMobile) {
    margin-top: 0px;
  }
  .container {
    display: flex;
    @media all and (max-width: $breakpointMobile) {
      display: block;
    }
    h1 {
      font-size: 27px;
      font-family: 'Amaranth', sans-serif;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 1.63;
    }
    .devider {
      height: 4px;
      width: 50%;
      background-color: $lightpink;
      margin-bottom: 15px;
    }
    .left-content {
      padding-right: 25px;
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .right-content {
      margin-top: 60px;
      padding-left: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      @media all and (max-width: $breakpointMobile) {
        padding-left: 0;
        margin-top: 10px;
      }
      tr {
        td {
          height: 20px;
          width: 50%;
          text-align: center;
          button {
            width: 90%;
            height: auto;
            margin: 5px;
            padding: 5px;
            cursor: auto;
          }
        }
      }
    }
  }
}
.about {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  background-color: $lightpink;
  .container {
    display: flex;
    @media all and (max-width: $breakpointMobile) {
      display: block;
    }
    .left,
    .right {
      width: 50%;
      @media all and (max-width: $breakpointMobile) {
        width: 100%;
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media all and (max-width: $breakpointMobile) {
        margin-top: 30px;
      }
    }
    .left {
      .header {
        margin-bottom: 30px;
        h1 {
          text-align: left;
          font-size: 27px;
          font-family: 'Amaranth', sans-serif;
          margin-bottom: 15px;
        }
        .devider {
          height: 4px;
          width: 50%;
          background-color: $darkgrey;
          margin-bottom: 15px;
        }
      }
      .image-content {
        display: flex;
        justify-content: center;
        img {
          box-shadow: 0px 5px 20px 0px $greyshadow;
        }
      } 
    }
    .right {
      align-items: left;
      p {
        font-size: 16px;
        line-height: 1.63;
        font-weight: normal;
        margin-bottom: 10px;
        text-align: left;
      }
      ul {
        margin: 10px 0;
        text-align: left;
        li {
          font-size: 16px;
          line-height: 1.63;
        }
      }
    }
  }
}

.education {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  .left-content {
    height: 60px;
    h1 {
      text-align: left;
      font-size: 27px;
      font-family: 'Amaranth', sans-serif;
      margin-bottom: 15px;
    }
    .devider {
      height: 4px;
      width: 50%;
      background-color: $lightpink;
      margin-bottom: 15px;
    }
  }
  .timeline {
    .chronology {
      display: flex;
      flex-direction: column;
      position: relative;
      .vertical-line {
        width: 3px;
        height: calc(100% - 60px);
        margin: 0 auto;
        background: $darkgrey;
        position: absolute;
        top: 60px;
        left: 50%;
        @media all and (max-width: $breakpointMobile) {
          top: 20px;
          left: 20px;
        }
      }
      .field {
        padding: 17px;
        position: relative;
        border-radius: 4px;
        background: transparent;
        max-width: 350px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $dark;
        box-shadow: 0px 5px 20px 0px $greyshadow;
        @media all and (max-width: $breakpointMobile) {
          margin-bottom: 25px;
          max-width: 450px;
        }
        @media all and (max-width: $breakpointMiddleMobile) {
          max-width: 315px;
        }
        @media all and (max-width: $breakpointSmallMobile) {
          max-width: 250px;
        }
        @media all and (max-width: 340px) {
          max-width: 190px;
        }
        h2 {
          line-height: 1.43;
          font-weight: 800;
          font-size: 16px;
          margin-bottom: 8px;
        }
        p {
          line-height: 1.43;
          font-weight: normal;
          font-size: 14px;
        }
        .date {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 13px; 
          @media all and (max-width: $breakpointMobile) {
            top: -25px;
            transform: none;
          }      
        }
      }
      .left-field {
        left: 50%;
        transform: translateX(calc(-100% - 20px));
        text-align: right;
        @media all and (max-width: $breakpointMobile) {
          left: 40px;
          transform: none;
        }
        h2 {
          margin-left: 65px;
        }
        &:after {
          position: absolute;
          right: -10px;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 5px 10px;
          border-color: transparent transparent transparent $darkgrey;
          @media all and (max-width: $breakpointMobile) {
            left: -10px;
            border-width: 5px 10px 5px 0;
            border-color: transparent $darkgrey transparent transparent;
  
          }
        }
        .field-description {
          line-height: 14px;
          font-size: 12px;
          text-align: left;
          padding-right: 10%;
          margin-top: 8px;
        }
        button {
          position: absolute;
          left: 10px;
          top: 10px;
        }
        .date {
          right: -110px;
          @media all and (max-width: $breakpointMobile) {
            position: absolute;
            right: 15px;
          }
        }
      }
      .right-field {
        left: calc(50% + 25px);
        text-align: left;
        @media all and (max-width: $breakpointMobile) {
          left: 40px;
        }
        h2 {
          margin-right: 65px;
        }
        &:after {
          position: absolute;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 10px 5px 0;
          border-color: transparent $darkgrey transparent transparent;
        }
        .field-description {
          line-height: 14px;
          font-size: 12px;
          text-align: right;
          padding-left: 10%;
          margin-top: 8px;
        }
        button {
          position: absolute;
          right: 10px;
          top: 10px;
        }
        .date {
          left: -130px;
          @media all and (max-width: $breakpointMobile) {
            position: absolute;
            left: 15px;
          }
        }
      }
      .description-first,
      .description-second,
      .description-third,
      .description-fourth,
      .description-fifth,
      .description-sixth {
        display: none;
      }
      .middle-field {
        width: 40px;
        height: 40px;
        background-color: $darkgrey;
        z-index: 2;
        margin: auto;
        position: relative;
        box-shadow: 0px 5px 20px 0px $greyshadow;
        border-radius: 100%;
        @media all and (max-width: $breakpointMobile) {
          margin: 0;
        }
        .middle-field-inside {
          width: 35px;
          height: 35px;
          background-color: $light;
          position: relative;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;
          line-height: 35px;
          text-align: center;
          font-size: 13px;
          font-weight: bold;
          color: $darkgrey;
          border-radius: 100%;
        }
      }
    }
  }
}
.offer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: $lightpink;
  .container {
    .title {
      text-align: left;
      font-size: 27px;
      font-family: 'Amaranth', sans-serif;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 15px;
    }
    .devider {
      height: 4px;
      width: 50%;
      background-color: $darkgrey;
      margin-bottom: 15px;
    }
    .offer-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .offer-block {
        width: 224px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
        .offer-content {
          cursor: pointer;
          width: 250px;
          height: 140px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px 10px;
          background-color: #FAFAFA;
          box-shadow: 0px 5px 20px 0px $greyshadow;
          transition: 0.6s;
          transform-style: preserve-3d;
          position: relative;
          .front, .back {
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .front {
            z-index: 31;
            transform: rotateY(0deg);
          }
          .back {
            transform: rotateY(180deg);
          }

          &:hover {
            transform: rotateY(180deg);
          }
          img {
            height: 55px;
            width: auto;          
            filter: grayscale(100%);
          }
          h1 {
            font-weight: normal;
            font-size: 16px;
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }
    .offer-footer {
      margin-top: 20px;
      line-height: 1.63;
    }
  }
}
.contact {
  position: relative;
  width: 100%;
  height: auto;
  background-color: $light;
  color: $dark;  
  .container {
    display: flex;
    @media all and (max-width: $breakpointMobile) {
      display: block;
    }
    .left-content {
      text-align: center;
      .person {
        font-size: 27px;
        font-family: 'Amaranth', sans-serif;
        margin-bottom: 15px;
      }
      .devider {
        height: 4px;
        width: 50%;
        background-color: $lightpink;
        margin: 0 auto 15px;
      }
      .title {
        font-size: 18px;
        line-height: 1.63;
        margin-bottom: 10px;
      }
      .details {
        width: 100%;
        display: flex;
        .left {
          padding-right: 15px;
          width: 50%;
          text-align: right;
          p {
            font-size: 14px;
            line-height: 25px;
            span {
              @media all and (max-width: $breakpointMobile) {
                display: block;
              }
            }
          }
        }
        .right {
          padding-left: 15px;
          width: 50%;
          text-align: left;
          p {
            font-size: 14px;
            line-height: 25px;
            span {
              @media all and (max-width: $breakpointMobile) {
                display: block;
              }
            }
          }
        }
      }
      .social-media {
        margin-top: 15px;
        justify-content: center;
        display: flex;
        .social-icon {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          margin: 0 5px;
          cursor: pointer;
          background-color: $lightpink;
          color: $darkgrey;
          box-shadow: 0px 5px 20px 0px $greyshadow;
          i {
            line-height: 30px;
            text-align: center;
          }
        }
        .facebook {
          &:hover {
            background-color: $facebook-color;
            color: $light;
          }
        }
        .linkedin {
          &:hover {
            background-color: $linkedin-color;
            color: $light;
          }
          i {
            position: relative;
            left: 2px;
          }
        }
      }
      .map-container {
        margin-top: 25px;
        #map {
          margin: auto;
          width: 90%;
          height: 300px;
          background-color: $darkpink;
          box-shadow: 0px 5px 20px 0px $greyshadow;
        }
      }
    }
    .middle-content-line {
      width: 2px;
      background: $darkgrey;
      border-radius: 100%;
    }
    .right-content {
      display: flex;
      justify-content: center;
      @media all and (max-width: $breakpointMobile) {
        margin-top: 30px;
      }
      .contact-form {
        width: 90%;
        height: auto;
        padding: 25px;
        border-radius: 5px;
        background-color: $light;
        box-shadow: 0 5px 20px 0 $greyshadow;
        position: relative;
        display: block;
        overflow: hidden;
        .contact-form-label {
          position: relative;
          font-size: 22px;
          font-weight: 500;
          line-height: 1.44;
          text-align: left;
          color: $dark;
          display: block;
          margin-bottom: 15px;
        }
        .contact-form-description {
          position: relative;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.63;
          text-align: left;
          color: $dark;
          display: block;
          margin-bottom: 20px;
        }
        form {
          position: relative;
          input,
          textarea {
            display: block;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 2px;
            background-color: $lightgrey;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 0 1px 0 $greyshadow;
            font-family: "Titillium Web", sans-serif;
            font-size: 16px;
            line-height: 1.63;
            text-align: left;
            color: $darkgrey;
            padding: 0 15px;
            position: relative;
            margin-bottom: 20px;
            resize: none
          }
          textarea {
            height: 120px;
            padding: 6px 15px;
          }
          input:focus,
          textarea:focus {
              border: solid 1px $dark;
          }
          button {
            float: right;
          }
        }
      }
    }
  }
}

// BUTTONS

button {
  border: none;
  border-radius: 2px;
  background-color: $lightpink;
  box-shadow: 0 2px 4px 0 $greyshadow;
  text-align: center;
  color: $darkgrey;
  position: relative;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 5px 20px 0px $greyshadow;
    background-color: $darkpink;
  }
}

.button-normal {
  width: 162px;
  height: 40px;
  font-size: 16px;
}

.button-small {
  width: auto;
  font-size: 12px;
  padding: 3px 10px;
}